<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users.</p>

<button class="btn btn-primary" (click)="onLoadServer(1)">Load Servers 1</button>
<button class="btn btn-default" (click)="onLogin()">Login</button>
<button class="btn btn-default" (click)="onLogout()">Logout</button>
